body {
    background-color: #8bc1ff;
    font-family: Arial, sans-serif;
    margin-left: 20px;
    margin-right: 20px;
}

p {
    display: flex;
    justify-content: center;
}

a {
    font-size: 12px;
}